<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>

    <title></title>
</head>
<body>

<div class="container h-100">
    <div class="row h-auto mt-5">
        <div class="col">
            <section layout:fragment="content"></section>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>