<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title th:value="On-board"></title>
</head>
<body>

<div layout:fragment="content" class="container">
    <h1>On-board</h1>
    <p>Enter the details of the staff member to be off-boarded.</p>
    <form method="post" content="application/json"
          th:action="${T(com.easynomad.onboard.web.controller.Endpoint).OFF_BOARDING}"  th:object="${staff}">
        <div class="row">
            <div class="col-2">
                <label for="staff-name">Name:</label>
            </div>
            <div class="col-4">
                <input id="staff-name" th:field="*{name}">
            </div>
            <div class="col-2">
                <label for="staff-email">Email</label>
            </div>
            <div class="col-4">
                <input id="staff-email" th:field="*{email}">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label for="staff-roles">Roles:</label>
            </div>
            <div class="col-4">
                <ul>
                    <li th:each="role : ${T(com.easynomad.onboard.web.model.Role).values()}">
                        <input id="staff-roles" th:field="*{roles}" th:value="${role}" type="checkbox">
                        <span th:text="${role.getValue()}"></span>
                    </li>
                </ul>
            </div>
            <div class="col-2">
            </div>
            <div class="col-4">
                <button id="login-button" class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>